<div class="container" *ngIf="!hideSelectionBox">
    <div class="heading">Select Symptons</div>
    <div class="option">
        
        <select name="name" [(ngModel)]="s1" id="">
            <ng-container *ngFor="let name of sympton">
                <option>{{name.split("_").join(" ")}}</option>
            </ng-container>
        </select>
        <select name="name" [(ngModel)]="s2" id="">
            <ng-container *ngFor="let name of sympton">
                <option>{{name.split("_").join(" ")}}</option>
            </ng-container>
        </select>
        <select name="name" [(ngModel)]="s3" id="">
            <ng-container *ngFor="let name of sympton">
                <option>{{name.split("_").join(" ")}}</option>
            </ng-container>
        </select>
        <select name="name" [(ngModel)]="s4" id="">
            <ng-container *ngFor="let name of sympton">
                <option>{{name.split("_").join(" ")}}</option>
            </ng-container>
        </select>
        <select name="name" [(ngModel)]="s5" id="">
            <ng-container *ngFor="let name of sympton">
                <option>{{name.split("_").join(" ")}}</option>
            </ng-container>
        </select>
        </div>
        <div class="button-submit" (click)="getData(s1,s2,s3,s4,s5)">
            <button >Predict Disease</button>
        </div>
</div>

<div class="container" *ngIf="hideSelectionBox">
    <div class="heading">{{diseaseDetected}}</div>
    <div class="button-submit" (click)="hideSelectionBox = !hideSelectionBox; diseaseDetected = ''">
        <button >Test Again</button>
    </div>
</div>