<div class="grid-container">
    <div class="left-image">
        <p class="message">
            <span style="font-size: 4rem;display: block;"> Hello,</span>
            Get your report generated in 5 min
        </p>
    </div>
    <div class="form">
        <img class="illustration" src="../../../assets/undraw_login_re_4vu2.svg" alt="" srcset="">
        <div class="form-control">
            <div class="heading">Welcome Back</div>
            <div class="subheading">Welcome back! Please enter your details</div>
            <div class="email-input">
                <label for="email">Email</label>
                <input type="email" name="email" [(ngModel)]="userName">
            </div>
            <div class="password-input">
                <label for="password">Password</label>
                <div class="eye-icon">
                    <i class="fa-solid fa-eye icon" (mousedown)="showPassword = true"
                        (mouseup)="showPassword = false"></i>
                </div>
                <input [type]="showPassword?'text':'password'" name="password" [(ngModel)]="password">
            </div>
            <div class="button">
                <button (click)="loginUser()" class="login-button">Login</button>
                <!-- <button class="google-button"
                    style="border:2px solid rgb(19, 95, 236);color: rgb(19,95,236);background-color: white;">Google
                    Signin</button> -->
                <!-- <button class="google-button">SignUp</button> -->
                <span class="signup" *ngIf="!wrongPassword">Don't have an account? <a routerLink="/signup">Sign up</a></span>
                <span class="signup" *ngIf="wrongPassword">Can't remember your password? <a routerLink="/forgot">Forgot Password</a></span>
            </div>
        </div>
    </div>
</div>