.grid-container {
    display: grid;
    height: calc(100vh - 78px);
    width: calc(100vw - 18px);
    grid-template-columns: 1fr 2fr;
    border-radius: 12px;
    // justify-self: center;
    // align-self: center;
    overflow: hidden;
}

.left-image {
    display: flex;
    padding: 2rem;
    background-image: url("../../../assets/blurbackgroung.jpg");
    align-items: center;

}

.illustration{
    width: 13rem;
    margin-bottom: 2rem;
}

.message{
    padding: 1rem;
    display: block;
    color: white;
    font-size: 1rem;
}


.form {
    padding: 2rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}



.form-control,
.email-input,
.password-input,
.button {
    display: flex;
    flex-direction: column;
}

.form-control{
    width: 20rem;
}

label {
    font-weight: 500;
}

.heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;

}

.email-input,
.password-input {
    margin-bottom: 1rem;
}

input {
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(200, 200, 200);
}

.subheading {
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: gray;
}

.eye-icon i {
    position: absolute;
    margin-top: 0.65rem;
    cursor: pointer;
    margin-left: 12.5rem;
}


button {
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    margin: 0.25rem;
    font-weight: 500;
}

.signup {
    font-size: 0.75rem;
    margin: auto;
    margin-top: 0.5rem;

}

a {
    text-decoration: none;
    font-weight: 600;
    color: blueviolet;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .form {
        // background-color: blue;
    }

    .grid-container {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }

    .project-name {
        font-size: 4rem;
    }
}