<div class="grid-container">
    <div class="left-image">
        <p class="message">
            <span style="font-size: 4rem;display: block;"> Hello,</span>
            Get your report generated in 5 min
        </p>
    </div>
    <div class="form">
        <img class="illustration" src="../../../assets/undraw_forgot_password_re_hxwm.svg" alt="" srcset="">
        <div class="form-control">
            <div class="heading">Forgot Password!!</div>
            <div class="subheading">Don't worry! We got you covered</div>
            <div class="email-input">
                <label for="password">New Password</label>
                <input type="password" name="password" [(ngModel)]="password">
            </div>
            <div class="email-input">
                <label for="password">Confirm Password</label>
                <input type="password" name="password" [(ngModel)]="confirmPassword">
            </div>
            <div class="button">
                <button (click)="resetPassword()" class="login-button"><b>Send reset password mail</b></button>
            </div>
        </div>
    </div>
</div>