<div class="container">
    <div class="heading">
        About Us
    </div>
    <div class="detail">
        <span style="font-size: 1.75rem;">👋Hello,</span><br><br>
        Welcome to our Ai-ML based project, where we use the power of machine learning to predict diseases based on
        symptoms.<br><br>

        Our team <b>Rahul, Sourav, Gopal, Vaibhav & Ankit (Mentor)</b> is composed of talented and dedicated individuals
        with a passion for using technology to improve people's lives. Our project is the result of extensive research
        and collaboration among students from various disciplines, including computer science, data science, and
        medicine.<br><br>

        We understand the challenges that come with diagnosing diseases, especially in areas with limited access to
        healthcare. Our project aims to provide a cost-effective and accessible solution to this problem. By training
        our machine learning model on a large dataset of symptoms and diseases, we can accurately predict the most
        likely diagnosis for a patient, giving healthcare providers a powerful tool to improve their diagnosis and
        treatment planning.<br><br>

        At our core, we believe in the power of technology to change the world for the better, and our project is a
        testament to this belief. We are dedicated to staying on the cutting edge of machine learning, constantly
        refining our model to improve accuracy and usability. Our project is just the beginning, and we hope to continue
        using our skills to make a positive impact in the world.<br><br>

        Thank you for your interest in our project, and we invite you to join us on this journey as we work to make
        healthcare more accessible and effective.❤️❤️<br><br>
    </div>
</div>