.container {
    display: grid;
    height: calc(100vh - 78px);
    width: calc(100vw - 18px);
    grid-template-rows: auto 1fr 48px;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}

.heading{
    /* width: 100%; */
    text-align: center;
    padding: 0.5rem;
    font-size: 1.75rem;
    border-bottom: 2px solid #ccc;
}

.card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 15px;
    overflow-y: scroll;
}

.bottom-toolbar{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    padding: 0.25rem 1.5rem;
    align-items: center;
}

button{
    padding: 10px 6px;
    font-weight: 600;
    background-color: rgb(87, 93, 255);
    border: none;
    border-radius: 12px;
    color: white;
}

.info{
    color: #918f8f;
}