<div class="navbar">
    <div class="content">
    <div class="name">MedScape</div>
    <div class="menu-list">
        <div class="menu-item" (click)="goToPredict()" *ngIf="loggedIn">Predict Disease</div>
        <div class="menu-item" (click)="goToAboutUs()">About Us</div>
        <!-- <div class="menu-item">Disease Details</div> -->
        <!-- <div class="menu-item">Hospital Detail</div> -->
    </div>
    <!-- <div class="profile-image"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset=""></div> -->
    <div class="menu-item" (click)="logOutUser()" *ngIf="loggedIn">Logout</div>

    </div>
</div>
