.navbar{
    width: 100vw;
    height: 100%;
    /* background-color: red; */
    padding: 6px;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between  ;
    background-color: rgb(255, 255, 255);
}

.menu-list{
    display: flex;
    align-items: center;
    height: 100%;
}


.name{
    font-size: 2rem;
    cursor: pointer;
}

.profile-image{
    height: 40px;
    width: 40px;
    outline: 2px solid rgb(107, 105, 105);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.menu-item{
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 90%;
    border-radius: 9px;
    transition-duration: 300ms;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}